body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    flex-direction: column;
}

/*                                
▄▄▄      ▄▄▄                   
████▄  ▄████                   
███▀████▀███ ▄█▀█▄ ████▄ ██ ██ 
███  ▀▀  ███ ██▄█▀ ██ ██ ██ ██ 
███      ███ ▀█▄▄▄ ██ ██ ▀██▀█ 
                               
                               */

.menu{
    width: auto;
    height: 80px;
    transform: skewX(-25deg);
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 60px rgb(121, 0, 0);
    border-radius: 10px;
}

.menu_options{
    display: flex;
    justify-content: flex-end;
    gap: clamp(5px, 8vw, 200px);
}

.menu_button {
    background-color: #000000;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    /* This allows the button to grow and shrink dynamically */
    flex: 1 1 auto; 
    
    /* This allows the words to stack only when they run out of room */
    word-wrap: break-word;
    line-height: 1.2; 
    
    /* Ensure the button doesn't get too tiny or too huge */
    min-width: 80px; 
    max-width: 250px;
    
    height: 40px;
    padding: 10px; 
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.menu_button:hover, 
.menu_button:active{
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 8px 8px 10px rgb(134, 0, 0);
}

.text_main{
    border-radius: 10px ;
    padding: 10px ;
    box-shadow: 0px 0px 60px rgb(121, 0, 0);
}