body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.menu{
    width: auto;
    height: 80px;
    transform: skewX(-25deg);
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 100px rgb(121, 0, 0);
}

.menu_options{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu_button{
    width: 100px;
    height: 60px;
    padding-inline: 10px;
    color: white;
    background-color: #750000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.menu_button:hover{
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 10px 10px 10px rgb(255, 0, 0);
    height: 100px;
}