body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.menu{
    width: auto;
    height: 80px;
    transform: skewX(-25deg);
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 100px rgb(121, 0, 0);
}

.menu_options{
    display: flex;
    justify-content: flex-end;
    gap: clamp(5px, 8vw, 200px);
}

.menu_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    text-align: center;
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.menu_button:hover{
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 8px 8px 10px rgb(134, 0, 0);
}

.menu_button_main{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 60px;
    padding: 0 10px;
    text-align: center;
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.menu_button_main:hover{
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 8px 8px 10px rgb(134, 0, 0);
}